/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-jan-2014, 11:15:18
    Author     : cyber02
*/

.xxsmall{
    font-size: 0.4em;
}
.xsmall{
    font-size: 0.6em;
}
.small{
    font-size: 0.8em;
}
.medium{
    font-size: 1em;
}
.large{
    font-size: 1.5em;
}
.xlarge{
    font-size: 2em;
}
.xxlarge{
    font-size: 3em;
}